<!--Local Login & Sign up.-->
<h1 *ngIf="(authService.user | async)?.emailVerified">Welcome {{ (authService.user | async)?.email }}!</h1>
<div *ngIf="!(authService.user | async)">
  <input type="text" [(ngModel)]="email" placeholder="Please enter an email">
  <input type="password" [(ngModel)]="password" placeholder="Please enter a password">
  <button (click)="signup(email, password)">
    Signup
  </button>
  <button (click)="login(email, password)" [disabled]="!email || !password">
    Login
  </button> 
  <div *ngIf = "(authService.NACError)">This account either already exists or is not a valid email address. Please enter a non-existing, valid email.</div>
  <div *ngIf = "(authService.AAError)">Wrong/invalid email/password.</div>
  <div *ngIf = "(authService.DError)">Your account has been deactivated, please contact the store manager.</div>
</div>
<h3 *ngIf="(authService.user | async) && !((authService.user | async)?.emailVerified)">Please Verify Your Email (click on the link and then refresh to commit the changes)</h3>
<!--Local Logout-->
<button (click)="logout()" *ngIf="authService.user | async">
  Logout
</button>
<div *ngIf="(authService.user | async) && !((authService.user | async)?.emailVerified)">
  <button (click)="resend()" *ngIf="authService.user | async">
  Resend Verification
</button>
</div>


<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h4>About us: We offer not just the greatest fruit, but also the greatest online shopping experience.</h4>
</div>
<div class="container">
</div>
<app-items></app-items>
<div *ngIf="(authService.user | async) && ((authService.user | async)?.emailVerified)">
<app-cart></app-cart>
</div> 
<router-outlet></router-outlet>
